* {
    margin: 0px;
    padding: 0px;
}

/* Layout */

.content {
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 4fr;

}

.sidebar {
    background-color: rgb(140, 213, 255);
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-weight: 600;
}

.sidebar1, .sidebar2 {
    padding-top: 30px;
    font-size: 18px;
}

.dashboard { font-size: 24px; }

.dashboard,
.sidebar1 div
,.sidebar2 div {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Header */
.header {
    grid-row: 1 / 2;
    background-color: aliceblue;

    padding-top: 20px;
    padding-left: 30px;

    display: flex;
    justify-content: space-between;
}

.header div {
    display: flex;
    align-items: center;
}

.search-bar {
    width: 100vh;
    border-radius: 8px;
    font-size: 18px;
}

.name {
    font-size: 18px;
}

.profile-image {
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

/* Sub-header */
.sub-header {
    grid-row: 2 / 3;
}

/* Body */
.main {
    grid-row: 3 / 4;
}

